@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,300);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);

body {
	font-family: "Lato", "Helvetica Neue", Helvetica, Sans-Serif;
	margin: 30px;
}

img {
	height: 25%;
	width: 25%;
}

input, textarea {
	margin-top: 10px;
}


span {
	float: left;
}

.addedReview{
	overflow: auto;
	margin-bottom: 5px;
	background-color: lightgrey;
	border-radius: 7px;
	padding: 10px;
	position: relative;
}
.addedReview p {
	position: relative;
	margin-top: 30px;
}

h3 {
	margin-bottom: 15px;
}

.titleLine {
	font-size: 20px;
	display: inline;
}

#title {
	float:left;
}

button {
	float: right;
}

.addedReview i {
	margin-left: 15px;
	font-size: 20px;
	float: right;
}
